 /* This will apply to the entire body */
 body {
    background-color: #28303d;
    color:#fff;
    margin:0;
    font-size:20px;
}
body.light {
    background-color:#fff;
    color:#000;
}
/* This will apply to all links in the body */
body a {
    color:#fff;
    text-decoration:none;
}
body.light a {
    color:#000;
}

/* Internal Container for all Main Elements */
.container {
    width:60%;
    margin:auto;
}

/* HEADER */
#banner {
    padding-top:70px;
}
#banner_branding,#nav_menu {
    display:inline-block;
    vertical-align:middle;
}
#banner_branding {
    width:60%;
}
#nav_menu {
    width:40%;
    text-align:right;
}
#nav_menu li {
    display:inline-block;
    margin:0px 10px;
}
#nav_menu li:hover,.tab_on {
    text-decoration:underline;
}
#nav_menu li:hover {
    text-decoration-style:dotted;
}
h1 {
    font-size:24px;
    font-weight:normal;
    margin:0; margin-bottom:5px;
}
h2 {
    font-size:20px;
    font-weight:normal;
    margin:0;
}

/* MAIN CONTENT */
#main_content {
    text-align:center;
    margin-top:120px;
}
h3 {
    font-size:60px;
    font-weight:normal;
    color:#000;
}
.main_content_text {
    width:90%;
    margin:auto; margin-top:80px;
    text-align:left;
}
.copyright {
    margin-top:100px;
}

/* FOOTER */
#footer {
    margin-top:250px;
    margin-bottom:200px;
}
#footer h1 {
    float:left;
}
hr {
    margin-bottom:50px;
}
#credit {
    float:right;
}

/* Light Mode Button */
#light_mode {
    position:fixed;
    right:5px; bottom:5px;
    border:2px solid white;
    padding:10px;
    font-size:16px;
}
#light_mode:hover {
    cursor:pointer;
    background-color:#fff;
    color:#28303d;
}